<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody ng-repeat="category in categories" ng-controller="CategoriesCtrl">
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>
    <a ng-click="editCategory(category.id)" class="btn btn-small btn-primary">edit</a>
    <a ng-click="deleteCategory(category.id)" class="btn btn-small btn-danger">delete</a>
    <a ng-click="createNewCategory()" class="btn btn-small">create new category</a>
</div>
