<div class="table-responsive">
    <div id="categoryGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div><br>
    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#updateCategory"
            ng-disabled="!disableEdit"><span class="glyphicon glyphicon-pencil" style="padding-right: 3px"></span>edit</button>
    <button ng-click="delete()" class="btn btn-small btn-danger" ng-disabled="!disableEdit">
        <span class="glyphicon glyphicon-remove" style="padding-right: 3px"></span>delete</button>
    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#createCategory">
        <span class="glyphicon glyphicon-plus" style="padding-right: 3px"></span>create</button>
</div>

<!-- Modal -->
<div id="createCategory" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewCategory()">&times;</button>
                <h4 class="modal-title">Create Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createCategoryForm" role="form" ng-submit="create()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   ng-model="newCategory.name"
                                   placeholder="Enter category name"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="description">Description:</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   id="description"
                                   name="description"
                                   ng-model="newCategory.description"
                                   placeholder="Enter category description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="active">Active:</label>
                        <div class="col-sm-1">
                            <input type="checkbox"
                                   class="form-control"
                                   id="active"
                                   ng-model="newCategory.active">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="createCategoryForm.$invalid" data-dismiss="modal">
                    <span class="glyphicon glyphicon-floppy-disk" style="padding-right: 3px"></span>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewCategory()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateCategory" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="clearEditItem()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="updateCategoryForm" ng-submit="update()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   id="catName"
                                   name="catName"
                                   ng-model="editItem.name"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   placeholder="Enter category name">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="description">Description:</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   id="catDescription"
                                   name="catDescription"
                                   ng-model="editItem.description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   placeholder="Enter category description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="catActive">Active:</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" id="catActive" ng-model="editItem.active">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()" data-dismiss="modal" ng-disabled="updateCategoryForm.$invalid">
                    <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Update</button>
                <button type="button" class="btn btn-default" ng-click="clearEditItem()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>