<div class="table-responsive">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" ng-disabled="!disableEdit" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select an action
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="onEdit()" data-toggle="modal" data-target="#updateCenter" ng-disabled="!disableEdit">View/Edit Center Information</a></li>
            <li><a data-toggle="modal" data-target="#updateScreens" ng-disabled="!disableEdit">View/Edit Screen</a></li>
            <li><a ng-click="delete()" ng-disabled="!disableEdit">Delete Center</a></li>
        </ul>
    </div><br/>
    <div id="centerGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div><br>
    <a class="btn btn-small btn-info" data-toggle="modal" data-target="#createCenter">create</a>
</div>

<!-- Modal -->
<div id="createCenter" class="modal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewCenter()">&times;</button>
                <h4 class="modal-title">Create Center</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createCenterForm"role="form" ng-submit="create()" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" ng-model="newCenter.name" placeholder="Enter Center name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address1">Address Line 1:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address1" ng-model="newCenter.address1" placeholder="Enter Center address Line 1.." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address2">Address Line 2:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address2" ng-model="newCenter.address2" placeholder="Enter Center address Line2.." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="city">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" ng-model="newCenter.city" placeholder="Enter city.." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="state">State</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="state" ng-model="newCenter.state" placeholder="Enter state.." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="country">Country</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="country" ng-model="newCenter.country" placeholder="Enter country.." required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': createCenterForm.phone.$invalid && createCenterForm.phone.$dirty }">
                        <label class="control-label col-sm-2" for="phone">Phone:</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phone" name="phone" ng-model="newCenter.phone" placeholder="Enter Center Phone" required>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createCenterForm.email.$invalid && createCenterForm.email.$dirty }">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" ng-model="newCenter.email" placeholder="Enter Center Email" required>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#createScreensPnBdy">Screens</a>
                                </h4>
                            </div>
                            <div id="createScreensPnBdy" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="create()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewCenter()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateCenter" class="modal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Center</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-submit="update()" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="centerName">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="centerName" ng-model="selectedItem.name" placeholder="Enter Center name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="centerAddress">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="centerAddress" ng-model="selectedItem.address1" placeholder="Enter Center Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="centerPhone">Phone:</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="centerPhone" ng-model="selectedItem.phone" placeholder="Enter Center Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="centerEmail">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="centerEmail" ng-model="selectedItem.email" placeholder="Enter Center Email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="update()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateScreens" class="modal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Screens</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-submit="update()" novalidate>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-target="#updateScreensPnBdy">Screens</a>
                                </h4>
                            </div>
                            <div id="updateScreensPnBdy" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li class="form-group" ng-repeat="screen in selectedItem.screens" id="screen{{screen.id}}">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="screen.name" size="60"
                                                       ng-click="onEditScreen(screen)">
                                            </div>
                                            <div class="col-sm-3">
                                                <a ng-click="deleteScreen($index)" class="btn btn-small btn-danger">delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" ng-click="addScreen()" >Add Screen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-target="#updateShowsPnBdy">Shows</a>
                                </h4>
                            </div>
                            <div id="updateShowsPnBdy" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li class="col-xs-5" ng-repeat="show in selectedScreen.shows" id="show{{show.id}}">
                                            <div class="col-sm-7">
                                                <timepicker ng-model="show.time" hour-step="1" minute-step="15"></timepicker>
                                            </div>
                                            <div class="col-sm-3">
                                                <a ng-click="deleteShow($index)" class="btn btn-small btn-danger">delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" ng-click="addShow()" >Add Show</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="update()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


