<div class="table-responsive">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" ng-disabled="!disableEdit" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select an action
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="onEdit()" data-toggle="modal" data-target="#updateCenter" ng-disabled="!disableEdit">View/Edit Center Information</a></li>
            <li><a data-toggle="modal" data-target="#updateScreens" ng-disabled="!disableEdit">View/Edit Screen</a></li>
            <li><a ng-click="delete()" ng-disabled="!disableEdit">Delete Center</a></li>
        </ul>
    </div><br/>
    <div id="centerGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div><br>
    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#createCenter">
        <span class="glyphicon glyphicon-plus" style="padding-right: 3px"></span>create</button>
</div>

<!-- Modal -->
<div id="createCenter" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewCenter()">&times;</button>
                <h4 class="modal-title">Create Center</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createCenterForm"  angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   ng-model="newCenter.name"
                                   placeholder="Enter Center name"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="address1">Address Line 1:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="address1"
                                   name="address1"
                                   ng-model="newCenter.address1"
                                   placeholder="Enter Center address Line 1.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address2">Address Line 2:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="address2"
                                   ng-model="newCenter.address2"
                                   placeholder="Enter Center address Line2..">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="city">City</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="city"
                                   name="city"
                                   ng-model="newCenter.city"
                                   placeholder="Enter city.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="state">State</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="state"
                                   name="state"
                                   ng-model="newCenter.state"
                                   placeholder="Enter state.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="country">Country</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="country"
                                   name="country"
                                   ng-model="newCenter.country"
                                   placeholder="Enter country.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="phone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="tel"
                                   class="form-control"
                                   id="phone"
                                   name="phone"
                                   ng-model="newCenter.phone"
                                   placeholder="Enter Center Phone"
                                   ng-pattern="/^\d{10}$/"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   invalid-message="'Please enter a valid phone number'"
                                   required>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-8">
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   ng-model="newCenter.email"
                                   placeholder="Enter Center Email"
                                   ng-pattern="/^[^@]+@[^@]+\.[^@]+$/"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   invalid-message="'Please enter a valid email'"
                                   required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="createCenterForm.$invalid" ng-click="create()">
                        <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewCenter()">
                        <span class="glyphicon glyphicon-remove" style="padding-right: 3px"></span>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateCenter" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Center</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="updateCenterForm" role="form"  novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerName">Name:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerName"
                                   name="centerName"
                                   ng-model="editItem.name"
                                   placeholder="Enter Center name"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerAddress1">Address Line 1:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerAddress1"
                                   name="centerAddress1"
                                   ng-model="editItem.address1"
                                   placeholder="Enter Center address Line 1.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="centerAddress2">Address Line 2:</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerAddress2"
                                   name="centerAddress2"
                                   ng-model="editItem.address2"
                                   placeholder="Enter Center address Line2..">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerCity">City</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerCity"
                                   name="centerCity"
                                   ng-model="editItem.city"
                                   placeholder="Enter city.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerState">State</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerState"
                                   name="centerState"
                                   ng-model="editItem.state"
                                   placeholder="Enter state.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerCountry">Country</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="centerCountry"
                                   name="centerCountry"
                                   ng-model="editItem.country"
                                   placeholder="Enter country.."
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerPhone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="tel"
                                   class="form-control"
                                   id="centerPhone"
                                   name="centerPhone"
                                   ng-model="editItem.phone"
                                   placeholder="Enter Center Phone"
                                   ng-pattern="/^\d{10}$/"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   invalid-message="'Please enter a valid phone number'"
                                   required>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="centerEmail">Email:</label>
                        <div class="col-sm-8">
                            <input type="email"
                                   class="form-control"
                                   id="centerEmail"
                                   name="centerEmail"
                                   ng-model="editItem.email"
                                   placeholder="Enter Center Email"
                                   ng-pattern="/^[^@]+@[^@]+\.[^@]+$/"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   invalid-message="'Please enter a valid email'"
                                   required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-disabled="updateCenterForm.$invalid" ng-click="update()" data-dismiss="modal">
                        <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearSelectedItem()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateScreens" class="modal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Screens</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="updateScreensForm" ng-submit="update()" novalidate angular-validator>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-target="#updateScreensPnBdy">Screens</a>
                                </h4>
                            </div>
                            <div id="updateScreensPnBdy" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="form-group col-xs-4" ng-repeat="screen in editItem.screens" id="screen{{$index}}">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" ng-click="onEditScreen(screen,$index)" name="selectScreen"/>
                                                </span>
                                                <input type="text" class="form-control" size="60" ng-model="screen.name" ng-disabled="!isCheckboxSelected($index)"/>
                                                 <span class="input-group-addon">
                                                        <a ng-click="deleteScreen($index)" class="glyphicon glyphicon-remove red"></a>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" ng-click="addScreen()" >Add Screen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" ng-show="!isCheckboxSelected($index)">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-target="#updateShowsPnBdy">Shows</a>
                                </h4>
                            </div>
                            <div id="updateShowsPnBdy" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="col-xs-4" ng-repeat="show in selectedScreen.shows" id="show{{show.id}}">
                                        <div class="col-sm-9">
                                            <timepicker ng-model="show.time" hour-step="1" minute-step="15"></timepicker>
                                        </div>
                                        <div class="col-sm-3">
                                            <a ng-click="deleteShow($index)" class="glyphicon glyphicon-remove red"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" ng-click="addShow()" >Add Show</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="update()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


