<div class="table-responsive">
    <div id="categoryGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div><br>
    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#updateInventory"
            ng-disabled="!disableEdit"><span class="glyphicon glyphicon-pencil" style="padding-right: 3px"></span>edit</button>
    <button ng-click="delete()" class="btn btn-small btn-danger" ng-disabled="!disableEdit">
        <span class="glyphicon glyphicon-remove" style="padding-right: 3px"></span>delete</button>
    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#createInventory">
        <span class="glyphicon glyphicon-plus" style="padding-right: 3px"></span>create</button>
</div>

<!-- Modal -->
<div id="createInventory" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewInventory()">&times;</button>
                <h4 class="modal-title">Create Inventory</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createInventoryForm" role="form" ng-submit="create()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="product">Product:</label>
                        <div class="col-sm-9">
                            <select id="product" class="form-control" ng-model="newInventory.product.id">
                                <option ng-repeat="product in products" value="{{product.id}}">
                                    {{product.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="availableQuantity">Available Quantity:</label>
                        <div class="col-sm-9">
                            <input type="number"
                                   id="availableQuantity"
                                   name="availableQuantity"
                                   ng-model="newInventory.availableQuantity"
                                   class="form-control"
                                   min="1"
                                   max="99"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="safetyStock">Safety Stock:</label>
                        <div class="col-sm-9">
                            <input type="number"
                                   id="safetyStock"
                                   name="safetyStock"
                                   ng-model="newInventory.safetyStock"
                                   class="form-control"
                                   min="1"
                                   max="10"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="availability">Availability:</label>
                        <div class="col-sm-1">
                            <input type="checkbox"
                                   class="form-control"
                                   name="availability"
                                   id="availability"
                                   ng-model="newInventory.availability">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="create()" data-dismiss="modal" ng-disabled="createInventoryForm.$invalid">
                    <span class="glyphicon glyphicon-floppy-disk" style="padding-right: 3px"></span>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewInventory()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateInventory" class="modal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearEditItem()">&times;</button>
                <h4 class="modal-title">Update Inventory</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="updateInventoryForm" role="form" ng-submit="update()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="updProduct">Product:</label>
                        <div class="col-sm-1">
                            <select id="updProduct" ng-model="editItem.product.id" convert-to-number>
                                <option ng-repeat="product in products" value="{{product.id}}">
                                    {{product.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="updAvailableQuantity">Available Quantity:</label>
                        <div class="col-sm-9">
                            <input type="number"
                                   id="updAvailableQuantity"
                                   name="updAvailableQuantity"
                                   ng-model="editItem.availableQuantity"
                                   class="form-control"
                                   min="1" 
                                   max="99"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="updSafetyStock">Safety Stock:</label>
                        <div class="col-sm-9">
                            <input type="number"
                                   id="updSafetyStock"
                                   name="updSafetyStock"
                                   ng-model="editItem.safetyStock"
                                   class="form-control"
                                   min="1"
                                   max="10"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="updAvailability">Availability:</label>
                        <div class="col-sm-1">
                            <input type="checkbox"
                                   class="form-control"
                                   id="updAvailability"
                                   ng-model="editItem.availability">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()" data-dismiss="modal" ng-disabled="updateInventoryForm.$invalid">
                    <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearEditItem()">Cancel</button>
            </div>
        </div>
    </div>
</div>