<div ng-controller="LoginCtrl" class="container">
    <modal title="Login form">
        <form role="form" name="loginForm" novalidate>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" ng-model="credentials.email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ng-model="credentials.password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" ng-click="login(credentials)" class="btn btn-default">Submit</button>
        </form>
    </modal>
</div>