<div class="table-responsive">
    <div id="orderStatusGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div><br/>
    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#updateStatus"
       ng-disabled="!disableEdit"><span class="glyphicon glyphicon-pencil" style="padding-right: 3px"></span>edit</button>
    <button ng-click="delete()" class="btn btn-small btn-danger" ng-disabled="!disableEdit">
        <span class="glyphicon glyphicon-remove" style="padding-right: 3px"></span>delete</button>
    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#createStatus">
        <span class="glyphicon glyphicon-plus" style="padding-right: 3px"></span>create</button>
</div>

<!-- Modal -->
<div id="createStatus" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        ng-click="clearNewOrderStatus()">&times;</button>
                <h4 class="modal-title">Create Order Status</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createStatusForm" role="form" ng-submit="create()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-9">
                            <input type="text" 
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   ng-model="newOrderStatus.name"
                                   placeholder="Enter Order Status"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="description">Description:</label>
                        <div class="col-sm-9">
                            <input type="text" 
                                   class="form-control"
                                   id="description"
                                   ng-model="newOrderStatus.description" 
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="create()" data-dismiss="modal" ng-disabled="createStatusForm.$invalid">
                    <span class="glyphicon glyphicon-floppy-disk" style="padding-right: 3px"></span>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewOrderStatus()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateStatus" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearEditItem()">&times;</button>
                <h4 class="modal-title">Update Order Status</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="updateStatusForm" role="form" ng-submit="update()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-9">
                            <input type="text" 
                                   class="form-control" 
                                   id="statusName"
                                   name="statusName"
                                   ng-model="editItem.name"
                                   placeholder="Enter Order Status"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-3" for="description">Description:</label>
                        <div class="col-sm-9">
                            <input type="text" 
                                   class="form-control" 
                                   id="statusDescription"
                                   ng-model="editItem.description"
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()" data-dismiss="modal" ng-disabled="updateStatusForm.$invalid">
                    <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearEditItem()">Cancel</button>
            </div>
        </div>
    </div>
</div>
