<div class="table-responsive">
    <div id="categoryGrid" ui-grid-selection ui-grid="gridOpts" class="grid"></div>
    <br>
    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#updateProduct"
            ng-disabled="!disableEdit"><span class="glyphicon glyphicon-pencil" style="padding-right: 3px"></span>edit</button>
    <button ng-click="delete()" class="btn btn-small btn-danger" ng-disabled="!disableEdit">
        <span class="glyphicon glyphicon-remove" style="padding-right: 3px"></span>delete</button>
    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#createProduct">
        <span class="glyphicon glyphicon-plus" style="padding-right: 3px"></span>create</button>
</div>

<!-- Modal -->
<div id="createProduct" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewProduct()">&times;</button>
                <h4 class="modal-title">Create Product</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="createProductForm" role="form" ng-submit="create()" novalidate angular-validator>
                    <div class="form-group required">
                        <label class="control-label col-sm-2">Category:</label>
                        <div class="col-sm-6">
                            <select id="product" class="form-control" ng-model="newProduct.category.id">
                                <option ng-repeat="category in categories" value="{{category.id}}">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2">Center:</label>
                        <div class="col-sm-6">
                            <select id="center" class="form-control" ng-model="newProduct.center.id">
                                <option ng-repeat="center in centers" value="{{center.id}}">
                                    {{center.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                    <label class="control-label col-sm-2" for="name">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="name"
                                   name="name"
                                   ng-model="newProduct.name" 
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="description"
                                   name="description"
                                   ng-model="newProduct.description" 
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="price">Price:</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="price"
                                   name="price"
                                   ng-model="newProduct.price" 
                                   placeholder="Enter Price"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="active">Active:</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" id="active" ng-model="newProduct.active">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="image">Image:</label>
                        <div class="col-sm-8">
                            <input type="file" id="image" ng-model="newProduct.image">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="create()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-floppy-disk" style="padding-right: 3px"></span>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewProduct()">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="updateProduct" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearNewProduct()">&times;</button>
                <h4 class="modal-title">Update Product</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-submit="update()" novalidate>
                    <div class="form-group required">
                        <label class="control-label col-sm-2">Category:</label>
                        <div class="col-sm-6">
                            <select id="updProductCat" class="form-control" ng-model="selectedItem.category.id" convert-to-number>
                                <option ng-repeat="category in categories" value="{{category.id}}">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2">Center:</label>
                        <div class="col-sm-6">
                            <select id="updProductCent" class="form-control" ng-model="selectedItem.center.id" convert-to-number>
                                <option ng-repeat="center in centers" value="{{center.id}}">
                                    {{center.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="name">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="updProductName"
                                   name="updProductName"
                                   ng-model="selectedItem.name" 
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control" 
                                   id="updProductDescription"
                                   name="updProductDescription"
                                   ng-model="selectedItem.description"
                                   placeholder="Enter Status description"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="price">Price:</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   id="updProductPrice"
                                   name="updProductPrice"
                                   ng-model="selectedItem.price" 
                                   placeholder="Enter Price"
                                   validate-on="dirty"
                                   required-message="'Required Field'"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="active">Active:</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" id="updProductActive" ng-model="selectedItem.active">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="updImage">Image:</label>
                        <div class="col-sm-8">
                            <input type="file" id="updImage">
                        </div>
                    </div>
                    <div class="form-group">
                        <img src="{{selectedItem.image}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()" data-dismiss="modal">
                    <span class="glyphicon glyphicon-save" style="padding-right: 3px"></span>Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewProduct()">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
