.form-group.required .control-label:before {
    content:"* ";
    color:red;
}

.red {
    color: red;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow:auto;
}

.modal-header {
    background-color: #f5f5f5;
}